body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: url("../images/bg-theme-blue.png") no-repeat fixed 50% 0 #FFFFFF;
}

#page
{
	margin-bottom: 5px;
	
	border-radius: 20px;
}

#header
{
	margin: 0;
	padding: 0;
}

#content
{
    padding: 20px;
	width:75%;
}

#left{
	width:18%;
}

ul.dropdown a:hover {
	color:#007DBB !important;
}
ul.dropdown li:hover {
	color:#007DBB !important;
}
ul.dropdown li {
	background-color : white !important;
	border-right:0px !important; 
}

ul.dropdown-vertical .dir, ul.dropdown-upward ul .dir {
    background-image: url("../images/internal-link-icon.png") !important;
}
#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	background: url("../images/header-bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 0 0 0 0;
    box-shadow: none;
    font-family: DINWebPro-Bold,sans-serif;
    height: 139px;
    width: 1022px;
}

#logo-container{
	float: left;
    margin-left: 32px;
}
#mainmenu
{
	background: url("../images/footer-crumb-bg.gif") repeat-x scroll 0 0 #E6E7E8;
	border-radius: 20px 20px 0 0;
}

#mainmenu #nav-bar{
	border:none;
	background:none;
}
#mainmenu #nav li{
	background:none;
}
#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#333333;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	margin-bottom: 10px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}